[Unit]
Description=GhostGate HTTP and Reverse Proxy Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ghostgate -config /etc/ghostgate/gate.conf -conf-dir /etc/ghostgate/conf.d
WorkingDirectory=/etc/ghostgate
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
